.about {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
   
}

.aboutText {
    margin: 0 20px;
}

.about img {
    margin: 0 20px;
}

.about h4 {
    color: #9c8e0e;
}

.about p { 
    font-weight: 400;
    font-size: 14px;
}

.about button {
    padding: 10px;
    border-radius: 5px;
    background-color: #4e6952;
    font-size: 15px;
    font-weight: 600;
    color: aliceblue;
    border: none;
    width: 150px;
    height: 50px;
}


@media screen and (max-width: 700px) {
    .about {
        display: flex;
        flex-direction: column-reverse;
    }

    .about img {
        width: 550px;
        margin: 15px 0;
    }

    .aboutText {
        display: flex;
        flex-direction: column;
        margin: 15px 10px;
    }

    .aboutText button {
        align-self: center;
    }
}