.register button { 
    padding: 10px;
    border-radius: 5px;
    background-color: #4e6952;
    margin-right: 50px;
    font-size: 15px;
    font-weight: 600;
    color: aliceblue;
    border: none;
}

.coloring {
    color: #000000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    z-index: 10;
}
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.nav-logo {
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
}
  
.nav-menu {
    display: flex;
    font-weight: 300;
    margin-top: 12px;
}
  
.nav-links {
    color: rgb(0, 0, 0);
}
.fa-code {
    /* margin-left: 1rem; */
}
  
.nav-item {
    line-height: 40px;
    margin-right: 1rem;
}
  
.nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}
  

  .nav-icon {
    display: none;
  }
  
  
@media screen and (max-width: 700px) {
    .nav-logo {
        margin-top: 12px;
    }
    .pages {
        display: none;
    }

    .register {
        display: none;
    }
    
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        color: aliceblue;
        position: absolute;
        right: 110%;
        background-color: #665c07c2;
      }
    
      .nav-menu.active {
          height: 1080px;
          width: 40%;
          right: 0;
          top: 0;
          margin-top: 0;
      }
      .nav-item .active {
        border: none;
      }
      .nav-links {
        color: aliceblue;
      }
    
      .nav-icon {
        display: flex;
        align-items: center;
        margin-right: 20px;
        font-size: 1.5rem;
        cursor: pointer;
      }
} 